@import url("https://shankhacss.netlify.app/styles.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("react-toastify/dist/ReactToastify.css");
* {
	padding: 0;
	margin: 0;
	
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow-x: hidden;
}

.product-container {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.product-card {
	text-align: left;
	color: #4b5563;
	background: #eff6ff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: auto;
	max-width: 100%;
	min-width: 8rem;
	position: relative;
}

.card-body {
	flex-grow: 1;
}
.mt-1 {
	margin-top: 1rem;
}
.product-card-badge {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5rem;
	background: white;
	/* border-radius: 50%; */
}
.product-card-badge:hover {
	background: white;
	color: red;
}
.image-product-card {
	padding: 0.1rem;
	margin-bottom: 0.4rem;
	height: 10rem;
	width: 100%;
}
.ecomm-container {
	width: 92%;
	margin: auto;
}

.data-hidden {
	visibility: hidden;
}

.icons-container {
	display: flex;
	margin-top: 1rem;
}

.wishlist {
	font-size: 1.1rem;
	padding: 0.4rem;
	background: none;
	cursor: pointer;
	outline: inherit;
	border: none;
}
.red {
	color: red;
}
.pr-half {
	padding: 0 0.5rem;
}
.gray {
	color: gray;
}

.cart-horizontal {
	display: flex;
	justify-content: center;
}

.mt-4{
	margin-top:4rem;
}

.sticky {
	position: sticky;
	top:0;
	z-index: 1;
	/* top:0;
	width:100%;
	height:5rem;
	z-index: 1;
	margin-bottom:1rem ; */
}

.page-title{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 550;
	padding: 0.5rem;
}


.cart__container {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 15rem;
	grid-template-rows: auto;
	grid-gap: 1rem;
	grid-template-areas: "listing billing";
}

.cart__container__listing{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 1rem auto;
	grid-area:listing;
}

.cart__container__billing{
	grid-area:billing;
}

.cart__container__actions{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.Toastify__close-button{
	color:var(--grey-500);
}

.Toastify__close-button:hover,
.Toastify__close-button:focus{
	color:var(--text-primary);
}
.search__input{
	display: flex;
}
.search__input__data{
	width:20rem;
	position: relative;
}

.btn--clear{
	
	position: absolute;
    top: 1rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    right: 0.4rem;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.btn--search{
	padding: 0.1rem 0.5rem;
	margin:0.4rem 0.1rem;
	font-size: 1rem;
	font-weight: bold;
}
@media (max-width: 600px) {
	.product-container {
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5rem;
	}
	.cart__container {
		display: grid;
		margin: 0 auto;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto;
		grid-gap: 1rem;
		grid-template-areas: "billing" "listing";
	}
	.image-product-card {
		padding: 0.1rem;
		margin-bottom: 0.4rem;
	}
	.navbar-container{
		display: flex;
		flex-direction: column;
	}
	.header-logo{
		display: flex;
		justify-content: flex-start;
	}
	.icons-container{
		display: flex;
		justify-content: space-around;
	}
}
