@import url("https://shankhacss.netlify.app/styles.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
	padding: 0;
	margin: 0;
}
body {
	width: 98.5vw;
	height: 100vh;
	margin: 0 auto;
}

.product-container {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}
.product-card {
	text-align: left;
	color: #4b5563;
	background: #eff6ff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: auto;
	max-width: 100%;
	min-width: 8rem;
	border-radius: 1rem;
}

.image-product-card {
	padding: 0.1rem;
	margin-bottom: 0.4rem;
	height: 10rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.main-container {
	width: 80%;
	margin: auto;
}

.data-hidden {
	visibility: hidden;
}

@media (max-width: 600px) {
	.product-container {
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}
}
